*{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

html, body{
    margin: 0;
}

body {
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAF9F6;
    background-repeat: no-repeat;
}



.navigation{
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 1px 1px 1px #95959517;
}

.navigation > div {
    max-width: 1205px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    & > ul{
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 600px;
        justify-content: space-evenly;
        gap: 10px;
    }
}

.navigation ul a{
    text-decoration: none;
    color: #0c064e;
    transition: all 0.2s ease-in-out;
}

.navigation ul a:hover{
    color: #0c064ed3;
    scale: 1.02;
}

.btn-primary{
    padding: 10px;
    background-color: #0c064e;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}


.btn-secondary{
    padding: 10px 15px;
    background-color: #eaeaea;
    color: #0c064e;
    border: none;
    border-radius: 2px;
}

.btn{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
}

.btn:hover{
    box-shadow: 0px 0px 1px 1px  #0c064ed0;
    background-color: #0c064ed0;
}

.btn-secondary:hover{
    box-shadow: 0px 0px 1px 1px  #eaeaea;
    background-color: #eaeaea;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-box{
    margin-top:130px;
    padding: 50px 40px;
    border-radius: 8px;
    font-size: 17px;
    line-height: 1.5;
    width: 500px;
    background-color: #0c064e;
    color:#eaeaea;
}
.main a{
    text-decoration: none;
    color: #0f85b7;
    cursor: pointer;
}

.login{
    margin-top: 60px;
    color: #0c064e;
    padding-bottom: 70px;
}


.about-foot{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
    background-color:#0E0B34;
}

.about-footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-footer h4{
    margin-top: 0;
    margin-left: 2px;
    font-size: 22px;
    font-weight: 400;
}

.about-footer ul{
    list-style: none;
    padding-left: 0;
    line-height: 1.9;
}

.about-footer ul li{
    font-weight: 300;
    font-size: 18px;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.about-footer ul li:hover{
    padding: 5px 10px;
    scale: 0.98;
    border: none;
    border-radius: 5px;
    background-color: #120b597c;
}

.about-footer-main{
    width: 400px;
    font-size: 18px;
    line-height: 1.4;
    padding-right: 200px;
}

.about-footer-main img{
    background-color: #ffffff8c;
    padding: 10px 14px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100px;
    object-fit: cover;
    transition: all 0.15s ease-in-out;
}

.about-footer-main p{
    font-weight: lighter;
}


.about-footer-main img:hover{
    scale: 1.02;
    background-color: #ffffffc6;
}

.about-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 90px;
}



.about-last ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about-last ul li{
    font-size: 16px;
    font-weight: 400;
    border: none;
    transition: all 0.2s ease-in-out ;
    cursor: pointer;
}

.about-last ul li:hover{
    color: #ffffff86;
}


.about-last p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background: rgb(133,213,247);
    background: linear-gradient(180deg, rgba(133,213,247,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);

    div{
        max-width: 1200px;
        width: 100%;
    }
}

.contact-section h1{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-left: 50px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-details ul{
    padding-top: 20px;
    list-style: none;
    line-height: 1.5;
    cursor: pointer;
}

