*{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

html, body{
    margin: 0;
}

body {
    background-image: url(/assets/img/side-view-smiley-nurse-patient\ 1.png);
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3794ff5e;
    background-repeat: no-repeat;
    background: linear-gradient(90deg ,#85D5F7, #120B59);
}



.navigation{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #FFFFFF30;
}

.navigation > div {
    max-width: 1205px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    & > ul{
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 600px;
        justify-content: space-evenly;
        gap: 10px;
    }
}

.navigation ul a{
    text-decoration: none;
    color: #0c064e;
    transition: all 0.2s ease-in-out;
}

.navigation ul a:hover{
    color: #0c064ed3;
    scale: 1.02;
}

.btn-primary{
    padding: 10px;
    background-color: #0c064e;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}


.btn-secondary{
    padding: 10px 15px;
    background-color: #FFFFFF;
    color: #0c064e;
    border: none;
    border-radius: 2px;
}

.btn{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
}

.btn:hover{
    box-shadow: 0px 0px 1px 1px  #0c064ed0;
    background-color: #0c064ed0;
}

.btn-secondary:hover{
    box-shadow: 0px 0px 1px 1px  #ffffffdb;
    background-color: #ffffffdb;
}


.header{
    margin-top: 60px;
    margin-left: 100px;
    font-size: 43px;
    font-family: 'Times New Roman', Times, serif;
    color: #0c064e;
    font-weight: bolder;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 90px;
}

.Login h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-top: 0;
}

.Login p{
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 100;
    font-size: 18px;
    color: #ffffffb6;
}

.Login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff1f;
    padding: 80px 35px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.Login-box input{
    width: 750px;
    cursor: pointer;
    height: 40px;
    padding: 10px 10px;
    margin-bottom: 40px;
    background-color: #ffffff;
    font-size: 19px;
    font-weight: 200;
    color: #0c064e;
    border-radius: 5px;
    border: none;
}

.Login-box input::placeholder{
    font-size: 15px;
    color: #1b1b1b4b;
}

.Login-box input:focus{
    border: none;
    outline: none;
}

.ForgotPassword a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #0c064e;
}
.ForgotPassword a:hover{
    scale: 1.02;
    color: #0c064eaa;
}
.ForgotPassword{
    align-self: self-start;
    display: flex;
}

.Login-box button{
    width: 640px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #0c064e;
    border: none;
    margin-top: 60px;
    margin-bottom: 40px;
    transition: all 0.2s ease-in-out;
}
.Login-box button:hover{
    background-color: #0E0B34;
    scale: 1.02;
}

.Login-box p{
    margin-bottom: 20px;
}

.CreateAccount{
    color: #0c064e;
    transition: all 0.2s ease-in-out;
}

.CreateAccount:hover{
    scale: 1.02;
    color: #0c064ecc;
}

/* Copied Code from About US Note !!!! theres a margin-top on about-foot so it can be seprated , if u add map remove the margin*/

.about-foot{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color:#0E0B34;
}

.about-footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-footer h4{
    margin-top: 0;
    margin-left: 2px;
    font-size: 22px;
    font-weight: 400;
}

.about-footer ul{
    list-style: none;
    padding-left: 0;
    line-height: 1.9;
}

.about-footer ul li{
    font-weight: 300;
    font-size: 18px;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.about-footer ul li:hover{
    padding: 5px 10px;
    scale: 0.98;
    border: none;
    border-radius: 5px;
    background-color: #120b597c;
}

.about-footer-main{
    width: 400px;
    font-size: 18px;
    line-height: 1.4;
    padding-right: 200px;
}

.about-footer-main img{
    background-color: #ffffff8c;
    padding: 10px 14px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100px;
    object-fit: cover;
    transition: all 0.15s ease-in-out;
}

.about-footer-main p{
    font-weight: lighter;
}


.about-footer-main img:hover{
    scale: 1.02;
    background-color: #ffffffc6;
}

.about-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 90px;
}



.about-last ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about-last ul li{
    font-size: 16px;
    font-weight: 400;
    border: none;
    transition: all 0.2s ease-in-out ;
    cursor: pointer;
}

.about-last ul li:hover{
    color: #ffffff86;
}


.about-last p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background: rgb(133,213,247);
    background: linear-gradient(180deg, rgba(133,213,247,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);

    div{
        max-width: 1200px;
        width: 100%;
    }
}

.contact-section h1{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-left: 50px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-details ul{
    padding-top: 20px;
    list-style: none;
    line-height: 1.5;
    cursor: pointer;
}