*{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

html, body{
    margin: 0;
}

body {
    background: linear-gradient(90deg ,#85D5F7, #120B59);
}

.navigation{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #FFFFFF30;
}

.navigation > div {
    max-width: 1205px;
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    & > ul{
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 600px;
        justify-content: space-evenly;
        gap: 10px;
    }
}

.hero-section{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    height: 100%;
    max-height: 80vh;
    
    & > div {
        max-width: 1100px;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 50px;

        h1 {
            font-size: 70px;
            font-family:'Times New Roman', Times, serif;
        }

        & > div:first-child{
            flex: 1;
        }

        & > div:nth-child(2) {
            & > div {
                background: #c7c7c75d;
                border-radius: 42px;
                padding: 30px;
            }
        }
    }
}

.hero-bg{
    background: url(../img/side-view-smiley-nurse-patient\ 1.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #3794ff5e;
}

.about-section{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding-bottom: 0;

    & > div {
        max-width: 1100px;
        margin-top: 250px;
        margin-bottom: 120px;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 50px;
        background-color: #FFFFFF66;
        position: relative;
        max-height: 550px;
        border-radius: 8px;
        padding: 60px;
    }

    h1 {
        font-size: 70px;
            font-family:'Times New Roman', Times, serif;
    }

    p{
        font-weight: 700;
        color: #1E2223;
        line-height: 27.29px;
    }
    
    img{
        position: relative;
        top: 20px;
        left: 130px;
    }
}

.testimonials-section{
    background: url(../img/cute-black-baby-home-with-parents\ 1.png);
    color: white;
    background-size: cover;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    .card{
        color: white;
        background: #1A1A6466;
        min-width: 471px;
        max-width: 500px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 65px 0px 65px 30px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;

        p{
            color: white;
        }
    }

    & > div {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        background-color: #120B596B;
        position: relative;
        max-height: 100%;
        padding: 60px;
        justify-content: center;

        & > div {
            max-width: 1200px;
            width: 100%;
        }

        & > div:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        & > div:nth-child(3){
            text-align: center;
        }
    }

    h1 {
        font-size: 70px;
        color: white;
            font-family:'Times New Roman', Times, serif;
    }

    p{
        font-weight: 700;
        line-height: 27.29px;
    }
    
    img{
        position: relative;
        top: 8px;
        left: 130px;
    }
}

/* BUTTONS & LINKS */

a{
    color: #1E2223;
    text-decoration: none;
    font-weight: 700;
    transition: all .2s ease-in-out;

    &:hover{
        color: #120B59;
        scale: .96;
    }
}

.btn{
    padding: 10px 15px;
    min-width: 100px;
    border: none;
    outline: none;
    background-color: #ffffff48;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    
    &:hover{
        transition: all .4s ease-in-out;
        background: #000000bd;
        color: white;
    }

    &:active{
        background-color: #ffffff9f;
        color: black;
    }
}

.btn-primary{
    background-color: #120B59;
    color: white;
}

/* Davids code */

.why-choose-humu{
    display: flex;
    flex-direction: column;
    padding: 90px 140px 100px 140px;
    height: 100%;
    background-color: #BBCBD9;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
        max-width: 1200px;
    }
}

.why-choose-humu h1{
    font-size: 60px;
    width: 100%;
    color: #120B59;
    padding-bottom: 20px;
    font-weight: bold;

}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 40px;   
    gap: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.text h2{
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.text p{
    margin-top: 0;
    flex-basis: 2;
    font-size: 18px;
    color: #0d0d0d;
}


.temp-img1 img{
    object-fit: cover;
    width: 550px;
    height: 350px;
    border-radius: 10px;
}

.training-courses{
    padding: 40px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    background: rgb(203,229,244);
    background: linear-gradient(0deg, rgba(203,229,244,1) 0%, rgba(227,244,255,1) 23%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
    align-items: center;
}

.sub2{
    display: flex;
    flex-direction: column;
}

.sub2 h1{
    margin-bottom: 0;
    font-size: 60px;
    font-weight: bold;
    color: #120B59;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0px;
}

.sub2 p{
    font-size: 25px;
    padding-top: 10px;
    margin-top: 0;
    font-weight: 500;
    color: #120b59ca;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.sub2main{
    display: flex;
    box-shadow: 0px 0px 5px #120b5925;
    border-radius: 8px ;
    max-width: 1200px;
    padding: 48px 35px 0px 25px;
    background-color: #ffffff;
    transition: all 0.1s ease-in-out;
    cursor: default;
    gap: 40px;
}
.sub2main:hover{
    box-shadow: 0px 0px 8px #120b592c;
}

.main-text{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main-text h3{
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
    color: #010a2b;
    font-size: 22px;

}
.main-text p{
    margin-top: 2px;
    line-height: 1.3;
    color: #0b0736ef;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 19px;
    padding-right: 5px;
}

.main-text button{
    margin-top: 120px;
    margin-bottom: 20px;
    width: 170px;
    height: 41px;
    font-size: 14px;
    color: white;
    background-color: #140C61;
    font-weight: lighter;
    border: none;
    border-radius: 4px;
    transition: all ease 0.2s;
    cursor: pointer;
}

.main-text button:hover{
    background-color: #150c61dd;
    scale: 1.02;
}

.sub2main-pic{
    object-fit: cover;
    height: 320px;
    width: 420px;
    border-radius: 12px;
    margin-bottom: 80px;
    margin-top: 10px;
}

.about-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
    background-color:#0E0B34;
}

.about-footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-footer h4{
    margin-top: 0;
    margin-left: 2px;
    font-size: 22px;
    font-weight: 400;
}

.about-footer ul{
    list-style: none;
    padding-left: 0;
    line-height: 1.9;
}

.about-footer ul li{
    font-weight: 300;
    font-size: 18px;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.about-footer ul li:hover{
    padding: 5px 10px;
    scale: 0.98;
    border: none;
    border-radius: 5px;
    background-color: #120b597c;
}

.about-footer-main{
    width: 400px;
    font-size: 18px;
    line-height: 1.4;
    padding-right: 200px;
}

.about-footer-main img{
    background-color: #ffffff8c;
    padding: 10px 14px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100px;
    object-fit: cover;
    transition: all 0.15s ease-in-out;
}

.about-footer-main p{
    font-weight: lighter;
}


.about-footer-main img:hover{
    scale: 1.02;
    background-color: #ffffffc6;
}

.about-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 90px;
}



.about-last ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about-last ul li{
    font-size: 16px;
    font-weight: 400;
    border: none;
    transition: all 0.2s ease-in-out ;
    cursor: pointer;
}

.about-last ul li:hover{
    color: #ffffff86;
}


.about-last p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background: rgb(133,213,247);
    background: linear-gradient(180deg, rgba(133,213,247,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);

    div{
        max-width: 1200px;
        width: 100%;
    }
}

.contact-section h1{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-left: 50px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-details ul{
    padding-top: 20px;
    list-style: none;
    line-height: 1.5;
    cursor: pointer;
}